@import "tailwindcss";
@plugin 'daisyui';

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Sora', sans-serif;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

th, td {
  padding: 0.5rem;
}

.hover\:text-red-500:hover {
  color: #ef4444;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.rounded-4xl {
  border-radius: 1.5rem;
}
